.try {
  display: flex;
  flex-wrap: wrap;
}

.pic {
  width: 25%;
  margin: 10%;
  justify-content: center;
  text-align: center;
  min-height: fit-content;
  border: 2px solid;
  border-color: darkmagenta;
  padding: 40px;
}
img {
  width: 95%;
  height: 85%;
}

#p {
  text-align: center;
  font-style: italic;
}

#p2 {
  text-align: center;
}

.modal10 {
  display: none;
  z-index: 1;
  background-color: rgba(3, 1, 153, 0.856);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
.modal20 {
  display: none;
  z-index: 1;
  background-color: rgba(29, 240, 10, 0.856);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.modal-content0 {
  background-color: rgb(221, 23, 99);
  width: 80%;
  padding: 20px;
  margin: 15% auto;
}
.modal-content20 {
  background-color: aqua;
  width: 75%;
  padding: 20px;
  margin: 15% auto;
}

.close {
  color: aqua;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#h10 {
  background-color: aqua;
}

#press1 {
  text-align: center;
}

#goku0 {
  width: 300px;
  height: 300px;
}
#close20 {
  float: right;
}

#press2 {
  text-align: center;
}

#kamado {
  width: 400px;
  height: 300px;
}
